{% extends 'base.html' %} {% block title %} {{ post.título }} ({{
    post.data_de_postagem | date }}) {% endblock title %} {% block content %}
    <h2>Detalhes do Filme {{ post.título }} ({{ post.data_de_postagem | date }})</h2>
    
    <section class="dados-de-post">
      <p> {{ post.conteúdo | safe }} </p> 
      <ul>
        <li>Título: {{ post.título }}</li>
        <li>Data de Postagem: {{ post.data_de_postagem }}</li>
        <li><a href="{% url 'blog:update' post.id %}">Editar</a></li>
        <li><a href="{% url 'blog:delete' post.id %}">Apagar</a></li>
      </ul>
    </section>

    <hr>

    <section>
        <header>
            <h3>Comentários</h3>
        </header>
        <ul>
            {% if post.comment_set.all %}
                {% for comment in post.comment_set.all %}
                    <figure>
                        <blockquote>
                            "{{ comment.texto }}"
                        </blockquote>
                        <figcaption>—{{ comment.autor }}</figcaption>
                    </figure>
                {% endfor %}
            {% else %}
                <p>Ainda não existe nenhuma comentário para este post.</p>
            {% endif %}
        </ul>

        <a href="{% url 'blog:comment' post.id %}"><button>Crie seu Comentário</button></a>
    </section>
    
    {% endblock content %}